/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

img {
  display: block;
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.section {
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.lightbox {
  color: #2E2F42;
  text-decoration: none;
}

.photo-card {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  
}

.search_form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #808080;
}

.search_form:hover {
  border: #000000;
}

.search-form-input {
  max-width: 272px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-right: 8px;
  background-color: #ffffff;
  color: #2E2F42;
}

.search-form button {
  width: 91px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4E75FF;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #6C8CFF;
}

.info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}
